<!DOCTYPE html>
<html>
  <head>
    <title>Quran App Test</title>
    <link rel="stylesheet" href="main.css" />
    <script src="/audioPlayer.js"></script>
  </head>
  
  <body>
    <header></header>
    <main>
      <div>
        <%- ayaHtml %>
      </div>
      <audio id="audioPlayer" data-loop="true" prev_src_ayah="" prev_src_recitor="" src="" prev_ayah="" prev_recitor="" controls></audio>
    </main>
  </body>
</html>
