.audio-player {
    width: 1000px;
    max-width: 600px;
    background-color: lightblue;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
}

audio {
    width: 1000px;
    height: 200px;
} 
