html, body, #root {
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App-body {
    display: flex;
    flex: 1; /* Make sure the body takes the remaining space */
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

main {
    padding: 55px 85px 20px 75px;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center; /* Center horizontally */
    flex: 1; /* Ensure main takes the remaining space */
    justify-content: center;
}

.ayah-container {
    background-color: rgb(209, 209, 209);
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.ayah-controls {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ayah-con {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.ayah {
    text-align: right;
}

.number-input-container {
    width: 60px;
}

.ayah-control-button {
    margin: 5px 0;
    flex: 1;
}

.ayah-bookmark-button {
    margin: 5px 0;
    flex: 1;
}

.ayah-add-mistake-button {
    margin: 5px 0;
    flex: 1;
}
.ayah-remove-mistake-button {
    margin: 5px 0;
    flex: 1;
}

.isBookmarked {
    background-color: lightblue;
}

.mistake {
    color: yellow;
}

.audio-player {
    display: flex;
    flex: 1;
    gap: 50px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recordings-player {
    flex: 1;
}

button, input {
    margin: 0 0;
}

#seekBar {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    border-width: 2px;
    background: lightseagreen;
    border-radius: 10px;
    outline: none;
    opacity: 0.8;
    transition: opacity .15s ease-in-out;
}

#seekBar:hover {
    opacity: 1;
}

#seekBar::-webkit-slider-thumb {
    transform: scale(0.9);
}

#seekBar::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.timeRange {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.currentTime, .totalDuration {
    font-size: 14px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.totalDuration {
    text-align: right;
}

audio {
    display: none;
}

.icon-Btn {
    padding: 0;
    background-color: white;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: color 0.3s;
}

.icon-Btn:hover {
    color:#66a5d7;
}

.playPauseBtn:disabled:hover {
    color: lightgray;
}

.playPauseBtn:disabled:hover {
    cursor: not-allowed;
}

.play-icon::before,
.pause-icon::before {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
}

.players {
    display: flex;
    flex: 1;
}

.single-player {
    display: flex;
    flex: 1;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.single-player-2 {
    width: 100%;
}

.hidden {
    display: none;
}

.ayah-list {
    width: 100%;
    max-height: calc(100vh - 45px - 10px - 55px - 59px - 20px); /* 10px is the margin-top */

    overflow-y: auto;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    position: relative;
    flex: 1;
}

.ayah-summary {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.ayah-list-num {
    flex: 1;
}

.ayah-list-loop {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.record-section {
    margin: 14.095px 0;
}

header {
    top: 0;
    height: 45px;
    width: 100%;
    background-color: lightsteelblue;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
}

.logo-section {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.personal-section {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.profile-photo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.chat-icon {
    font-size: 20px;
    color: white;
    margin-right: 15px;
}

.bell-icon {
    font-size: 20px;
    color: black;
    margin-right: 10px;
}

.logo-name {
    margin-left: 10px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: Baghdad;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    font-family: Baghdad;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: Baghdad;
}

h4 {
    font-size: 20px;
    font-weight: lighter;
    font-family: Baghdad;
}

.BtnHomeworkFunc {
    width: 80px;
}

.approveHomework-recordingDetails {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.approveHomework-recordingDetails p {
    flex: 1;
    display: flex;
    justify-content: center;
}

.sidebar-section {
    margin-top: 45px;
}

.ClassPlacement {
    background-color: #52616B;
    color: white;

    padding: 15px 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}